<!DOCTYPE html>
<html>
<head>
  <title>Course Management Portal</title>
</head>
<body>

<h1>📚 Course Management Portal</h1>

<a href="/">Home</a>

{% if session.get("instructor") %}
  | <a href="/course">Course Page</a>
  | <a href="/add_lecture">Add Lecture</a>
  | <a href="/add_assignment">Add Assignment</a>
  | <a href="/logout">Logout</a>


{% elif session.get("student_id") %}
  | <a href="/student/dashboard">My Dashboard</a>
  | <a href="/student/logout">Student Logout</a>

{% else %}
  | <a href="/student/login">Student Login</a>
  | <a href="/student/register">Student Register</a>
  | <a href="/login">Instructor Login</a>
{% endif %}

<hr>

{% block content %}{% endblock %}

</body>
</html>