{% extends "base.html" %}
{% block content %}


<p><b>Instructor:</b> {{ course.instructor }}</p>
<p>{{ course.description }}</p>

{% if course.submission_url %}
  <p>
    <b>📤 Assignment Submission:</b>
    <a href="{{ course.submission_url }}" target="_blank">Submit Here</a>
  </p>
{% endif %}

<hr>

<h3>📘 Lectures</h3>
{% for lec in lectures %}
  <p>
    {{ lec.title }}
    <a href="/download/lecture/{{ lec.filename }}">Download</a>
  </p>
{% else %}
  <p>No lectures yet.</p>
{% endfor %}

<hr>

<h3>📝 Assignments</h3>
{% for a in assignments %}
  <p>
    {{ a.title }} (Due: {{ a.due_date }})<br>
    <a href="/download/assignment/{{ a.filename }}">Download Assignment</a>
  </p>
{% else %}
  <p>No assignments yet.</p>
{% endfor %}

{% endblock %}