{% extends "base.html" %}
{% block content %}

<h2>👨‍🏫 Your Courses</h2>

{% for c in courses %}
  <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
    <h3>{{ c.title }}</h3>
    <p><b>Instructor:</b> {{ c.instructor }}</p>

    <a href="/course/{{ c.id }}">View</a> |
    <a href="/add_lecture/{{ c.id }}">Add Lecture</a> |
    <a href="/add_assignment/{{ c.id }}">Add Assignment</a>

    <form action="/delete/{{ c.id }}" method="POST" style="display:inline;">
      <button type="submit">Delete</button>
    </form>
  </div>
{% else %}
  <p>No courses created yet.</p>
{% endfor %}

{% endblock %}